/* either do grid > * > p to style all paragraphs and use h1,h2 tags explicitly
    OR
    use grid > * > * to style everything beneath the grid
*/

h1, h2 {
  text-align: center;
  padding: 1% 0;
  font-family: 'hanken-bold', serif;

}

body {
  font-family: 'hanken', serif;
}

.default-button {
  font-size: 1.3em;
  background-color: lightcoral;
}

.default-button:hover {
  font-family: hanken-bold;
  background-color: lightsalmon;
  scale: 1.07;
}
