.one, .two, .three, .four, .five, .six {
  background-color: orange;
  border: 2px solid darkorange;
  border-radius: 5px;
  opacity: 75%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 1;
  grid-row: 1;
}
.two {
  grid-column: 2 / 2;
  grid-row: 1;
}
.three {
  grid-column: 3 / 3;
  grid-row: 1;
}
.four {
  grid-column: 4/4;
  grid-row: 1;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
