.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .1vw;
  grid-auto-rows: minmax(100px, auto);
}

.grid > * {
  background-color: orange;
  border: 2px solid darkorange;
  border-radius: 5px;
  opacity: 75%;
  margin: 5px;
}

/*

 If the centered element consists of a single line and its parent height is fixed you can simply set the container’s
  line-height to fill its height. This method is quite versatile in my experience. jsfiddle example
  http://jsfiddle.net/d4zGF/
*/
.grid > * > p {
  line-height: 4em;
  text-align: center;
  font-weight: bold;
}

.summary {
  line-height: 12em!important;
}

input[type="number"] {
  padding: 6px;
  width: 7rem;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

input[type=number]:focus {
  background-color: lightcoral;
}


/* either do grid > * > p to style all paragraphs and use h1,h2 tags explicitly
    OR
    use grid > * > * to style everything beneath the grid
*/
/*.grid > * > * {*/
/*  text-align: center;*/
/*}*/

/* grid-column: grid-column-start / grid-colum-end | LINES, not cells*/

/* grid-row:  grid-row-start / grid-row-end* | LINES; not cells/











