.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .1vw;
  grid-auto-rows: minmax(100px, auto);
}

.grid > * {
  background-color: orange;
  border: 2px solid darkorange;
  border-radius: 5px;
  opacity: 75%;
  margin: 5px;
}

.grid > * > p {
  text-align: center;
}

/* either do grid > * > p to style all paragraphs and use h1,h2 tags explicitly
    OR
    use grid > * > * to style everything beneath the grid
*/
/*.grid > * > * {*/
/*  text-align: center;*/
/*}*/

/* grid-column: grid-column-start / grid-colum-end | LINES, not cells*/

/* grid-row:  grid-row-start / grid-row-end* | LINES; not cells/











